<h3>Basics</h3>
  <h3>chance-bool:</h3>
  <p>Return a random boolean value (true or false)</p>
  <p>
  <code>
  \{{ chance-bool }}
  => {{ chance-bool }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-bool likelihood=30}}
  => {{ chance-bool likelihood=30}}
  </code>
  </p>
   <p>
  <code>
  \{{ chance-bool likelihood=90}}
  => {{ chance-bool likelihood=90}}
  </code>
  </p>
  
  <h3>chance-falsy:</h3>
  <p>Return a random falsy value ( fasle, null, undefined, 0, NaN, '')_</p>
  <p>
  <code>
  \{{ chance-falsy }}
  => {{ chance-falsy }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-falsy pool=(array 'false' 'NaN')}}
  => {{ chance-falsy pool=(array 'false' 'NaN')}}
  </code>
  </p>

  <h3>chance-character:</h3>
  <p>Return a random character</p>
  <p>
  <code>
  \{{ chance-character }}
  => {{ chance-character }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-character pool='abcde'}}
  => {{ chance-character pool='abcde'}}
  </code>
  </p>
  
<p>
  <code>
  \{{ chance-character alpha=true}}
  => {{ chance-character alpha=true}}
  </code>
  </p>
  
<p>
  <code>
  \{{ chance-character numeric=true}}
  => {{ chance-character numeric=true}}
  </code>
  </p>
  

<p>
  <code>
  \{{ chance-character casing='upper'}}
  => {{ chance-character casing='upper'}}
  </code>
  </p>
  
<p>
  <code>
  \{{ chance-character symbols=true}}
  => {{ chance-character symbols=true}}
  </code>
  </p>

  <h3>chance-floating:</h3>
  <p>Description for chance-floating goes here.</p>
  <p>
  <code>
  \{{ chance-floating }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-floating }}
  </code>
  </p>
  

  <h3>chance-integer:</h3>
  <p>Description for chance-integer goes here.</p>
  <p>
  <code>
  \{{ chance-integer }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-integer }}
  </code>
  </p>
  

  <h3>chance-letter:</h3>
  <p>Description for chance-letter goes here.</p>
  <p>
  <code>
  \{{ chance-letter }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-letter }}
  </code>
  </p>
  

  <h3>chance-natural:</h3>
  <p>Description for chance-natural goes here.</p>
  <p>
  <code>
  \{{ chance-natural }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-natural }}
  </code>
  </p>
  

  <h3>chance-string:</h3>
  <p>Description for chance-string goes here.</p>
  <p>
  <code>
  \{{ chance-string }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-string }}
  </code>
  </p>
 

