  <h3>chance-character:</h3>
  <hr>
  <p>Return a random character</p>
  <p>
  <code>
  \{{ chance-character }}
  => {{ chance-character }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-character pool='abcde'}}
  => {{ chance-character pool='abcde'}}
  </code>
  </p>
  
<p>
  <code>
  \{{ chance-character alpha=true}}
  => {{ chance-character alpha=true}}
  </code>
  </p>
  
<p>
  <code>
  \{{ chance-character numeric=true}}
  => {{ chance-character numeric=true}}
  </code>
  </p>
  

<p>
  <code>
  \{{ chance-character casing='upper'}}
  => {{ chance-character casing='upper'}}
  </code>
  </p>
  
<p>
  <code>
  \{{ chance-character symbols=true}}
  => {{ chance-character symbols=true}}
  </code>
  </p>

