<h3>chance-word:</h3>
<hr>
<p>Return a semi-pronounceable random (nonsense) word.</p>
<p>
<code>
  \{{ chance-word }}
</code>
</p>
<p>
<code>
  // => {{ chance-word }}
</code>
</p>
<p>
<code>
  \{{ chance-word syllables=3}}
</code>
</p>
<p>
<code>
  // => {{ chance-word syllables=3 }}
</code>
</p>
<p>
<code>
  \{{ chance-word length=5}}
</code>
</p>
<p>
<code>
  // => {{ chance-word length=5 }}
</code>
</p>
