    <h3>chance-floating:</h3>
    <hr>
  <p>Return a random floating point number.</p>
  <p>
  <code>
  \{{ chance-floating }}
  </code>
  </p>
  <p>
  <code>
    // => {{ chance-floating }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-floating fixed=7}}
  </code>
  </p>
  <p>
  <code>
    // => {{ chance-floating fixed=7}}
  </code>
  </p>
  <p>
  <code>
  \{{ chance-floating min=0 max=100}}
  </code>
  </p>
  <p>
  <code>
    // => {{ chance-floating min=0 max=100}}
  </code>
  </p>
  <p>
  <code>
  \{{ chance-floating fixed=8 min=0 max=100}}
  </code>
  </p>
  <p>
  <code>
    // => {{ chance-floating fixed=8 min=0 max=100}}
  </code>
  </p>
 
