  <h3>chance-letter:</h3>
  <hr>
  <p>Return a random letter</p>
  <p>
  <code>
  \{{ chance-letter }}
  </code>
  </p>
  <p>
  <code>
    // => {{ chance-letter }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-letter casing="lower"}}
  </code>
  </p>
  <p>
  <code>
    // => {{ chance-letter casing="lower"}}
  </code>
  </p>
  <p>
  <code>
  \{{ chance-letter casing="upper"}}
  </code>
  </p>
  <p>
  <code>
    // => {{ chance-letter casing="upper"}}
  </code>
  </p>
 
