{{outlet}}
  <h3>chance-cc:</h3>
  <p>Description for chance-cc goes here.</p>
  <p>
  <code>
  \{{ chance-cc }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-cc }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-cc }}
  </code>
  </p>
  

  <h3>chance-cc-type:</h3>
  <p>Description for chance-cc-type goes here.</p>
  <p>
  <code>
  \{{ chance-cc-type }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-cc-type }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-cc-type }}
  </code>
  </p>
  

  <h3>chance-currency:</h3>
  <p>Description for chance-currency goes here.</p>
  <p>
  <code>
  \{{ chance-currency }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-currency }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-currency }}
  </code>
  </p>
  

  <h3>chance-currency-pair:</h3>
  <p>Description for chance-currency-pair goes here.</p>
  <p>
  <code>
  \{{ chance-currency-pair }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-currency-pair }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-currency-pair }}
  </code>
  </p>
  

  <h3>chance-dollar:</h3>
  <p>Description for chance-dollar goes here.</p>
  <p>
  <code>
  \{{ chance-dollar }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-dollar }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-dollar }}
  </code>
  </p>
  

  <h3>chance-euro:</h3>
  <p>Description for chance-euro goes here.</p>
  <p>
  <code>
  \{{ chance-euro }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-euro }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-euro }}
  </code>
  </p>
  

  <h3>chance-exp:</h3>
  <p>Description for chance-exp goes here.</p>
  <p>
  <code>
  \{{ chance-exp }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-exp }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-exp }}
  </code>
  </p>
  

  <h3>chance-exp-month:</h3>
  <p>Description for chance-exp-month goes here.</p>
  <p>
  <code>
  \{{ chance-exp-month }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-exp-month }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-exp-month }}
  </code>
  </p>
  

  <h3>chance-exp-year:</h3>
  <p>Description for chance-exp-year goes here.</p>
  <p>
  <code>
  \{{ chance-exp-year }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-exp-year }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-exp-year }}
  </code>
  </p>
  
