{{outlet}}
  <h3>chance-capitalize:</h3>
  <p>Description for chance-capitalize goes here.</p>
  <p>
  <code>
  \{{ chance-capitalize }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-capitalize "hello"}}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-capitalize }}
  </code>
  </p>
  

  <h3>chance-mixin:</h3>
  <p>Description for chance-mixin goes here.</p>
  <p>
  <code>
  \{{ chance-mixin }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-mixin }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-mixin }}
  </code>
  </p>
  

  <h3>chance-pad:</h3>
  <p>Description for chance-pad goes here.</p>
  <p>
  <code>
  \{{ chance-pad }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-pad }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-pad }}
  </code>
  </p>
  

  <h3>chance-pick:</h3>
  <p>Description for chance-pick goes here.</p>
  <p>
  <code>
  \{{ chance-pick }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-pick }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-pick }}
  </code>
  </p>
  

  <h3>chance-pickone:</h3>
  <p>Description for chance-pickone goes here.</p>
  <p>
  <code>
  \{{ chance-pickone }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-pickone }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-pickone }}
  </code>
  </p>
  

  <h3>chance-pickset:</h3>
  <p>Description for chance-pickset goes here.</p>
  <p>
  <code>
  \{{ chance-pickset }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-pickset }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-pickset }}
  </code>
  </p>
  

  <h3>chance-set:</h3>
  <p>Description for chance-set goes here.</p>
  <p>
  <code>
  \{{ chance-set }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-set }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-set }}
  </code>
  </p>
  

  <h3>chance-shuffle:</h3>
  <p>Description for chance-shuffle goes here.</p>
  <p>
  <code>
  \{{ chance-shuffle }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-shuffle }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-shuffle }}
  </code>
  </p>
  
