    <p>Ember addon wrapper around <a href="https://chancejs.com/">chance.js</a> with template helpers.</p>
{{outlet}}<p>chance-falsy: {{ chance-falsy }}</p>
<p>chance-character: {{ chance-character }}</p>
<p>chance-integer: {{ chance-integer }}</p>
<p>chance-letter: {{ chance-letter }}</p>
<p>chance-natural: {{ chance-natural }}</p>
<p>chance-string: {{ chance-string }}</p>
<p>chance-paragraph: {{ chance-paragraph }}</p>
<p>chance-sentence: {{ chance-sentence }}</p>
<p>chance-syllable: {{ chance-syllable }}</p>
<p>chance-word: {{ chance-word }}</p>
<p>chance-age: {{ chance-age }}</p>
<p>chance-birthday: {{ chance-birthday }}</p>
<p>chance-cf: {{ chance-cf }}</p>
<p>chance-cpf: {{ chance-cpf }}</p>
<p>chance-first: {{ chance-first }}</p>
<p>chance-gender: {{ chance-gender }}</p>
<p>chance-last: {{ chance-last }}</p>
<p>chance-name: {{ chance-name }}</p>
<p>chance-prefix: {{ chance-prefix }}</p>
<p>chance-ssn: {{ chance-ssn }}</p>
<p>chance-suffix: {{ chance-suffix }}</p>
<p>chance-animal: {{ chance-animal }}</p>
<p>chance-android-id: {{ chance-android-id }}</p>
<p>chance-apple-token: {{ chance-apple-token }}</p>
<p>chance-bb-pin: {{ chance-bb-pin }}</p>
<p>chance-wp7-anid: {{ chance-wp7-anid }}</p>
<p>chance-wp8-anid2: {{ chance-wp8-anid2 }}</p>
<p>chance-avatar: {{ chance-avatar }}</p>
<p>chance-color: {{ chance-color }}</p>
<p>chance-company: {{ chance-company }}</p>
<p>chance-domain: {{ chance-domain }}</p>
<p>chance-email: {{ chance-email }}</p>
<p>chance-fbid: {{ chance-fbid }}</p>
<p>chance-google-analytics: {{ chance-google-analytics }}</p>
<p>chance-hashtag: {{ chance-hashtag }}</p>
<p>chance-ip: {{ chance-ip }}</p>
<p>chance-ipv6: {{ chance-ipv6 }}</p>
<p>chance-klout: {{ chance-klout }}</p>
<p>chance-profession: {{ chance-profession }}</p>
<p>chance-tld: {{ chance-tld }}</p>
<p>chance-twitter: {{ chance-twitter }}</p>
<p>chance-url: {{ chance-url }}</p>
<p>chance-address: {{ chance-address }}</p>
<p>chance-altitude: {{ chance-altitude }}</p>
<p>chance-areacode: {{ chance-areacode }}</p>
<p>chance-city: {{ chance-city }}</p>
<p>chance-coordinates: {{ chance-coordinates }}</p>
<p>chance-country: {{ chance-country }}</p>
<p>chance-depth: {{ chance-depth }}</p>
<p>chance-geohash: {{ chance-geohash }}</p>
<p>chance-latitude: {{ chance-latitude }}</p>
<p>chance-locale: {{ chance-locale }}</p>
<p>chance-longitude: {{ chance-longitude }}</p>
<p>chance-phone: {{ chance-phone }}</p>
<p>chance-postal: {{ chance-postal }}</p>
<p>chance-postcode: {{ chance-postcode }}</p>
<p>chance-province: {{ chance-province }}</p>
<p>chance-state: {{ chance-state }}</p>
<p>chance-street: {{ chance-street }}</p>
<p>chance-zip: {{ chance-zip }}</p>
<p>chance-ampm: {{ chance-ampm }}</p>
<p>chance-date: {{ chance-date }}</p>
<p>chance-hammertime: {{ chance-hammertime }}</p>
<p>chance-hour: {{ chance-hour }}</p>
<p>chance-millisecond: {{ chance-millisecond }}</p>
<p>chance-minute: {{ chance-minute }}</p>
<p>chance-month: {{ chance-month }}</p>
<p>chance-second: {{ chance-second }}</p>
<p>chance-timestamp: {{ chance-timestamp }}</p>
<p>chance-timezone: {{ chance-timezone }}</p>
<p>chance-weekday: {{ chance-weekday }}</p>
<p>chance-year: {{ chance-year }}</p>
<p>chance-cc: {{ chance-cc }}</p>
<p>chance-cc-type: {{ chance-cc-type }}</p>
<p>chance-currency: {{ chance-currency }}</p>
<p>chance-currency-pair: {{ chance-currency-pair }}</p>
<p>chance-dollar: {{ chance-dollar }}</p>
<p>chance-euro: {{ chance-euro }}</p>
<p>chance-exp: {{ chance-exp }}</p>
<p>chance-exp-month: {{ chance-exp-month }}</p>
<p>chance-exp-year: {{ chance-exp-year }}</p>
<p>chance-capitalize: {{ chance-capitalize }}</p>
<p>chance-mixin: {{ chance-mixin }}</p>
<p>chance-pad: {{ chance-pad }}</p>
<p>chance-pick: {{ chance-pick }}</p>
<p>chance-pickone: {{ chance-pickone }}</p>
<p>chance-pickset: {{ chance-pickset }}</p>
<p>chance-set: {{ chance-set }}</p>
<p>chance-shuffle: {{ chance-shuffle }}</p>
<p>chance-coin: {{ chance-coin }}</p>
<p>chance-dice: {{ chance-dice }}</p>
<p>chance-guid: {{ chance-guid }}</p>
<p>chance-hash: {{ chance-hash }}</p>
<p>chance-hidden: {{ chance-hidden }}</p>
<p>chance-n: {{ chance-n }}</p>
<p>chance-normal: {{ chance-normal }}</p>
<p>chance-radio: {{ chance-radio }}</p>
<p>chance-rpg: {{ chance-rpg }}</p>
<p>chance-tv: {{ chance-tv }}</p>
<p>chance-unique: {{ chance-unique }}</p>
<p>chance-weighted: {{ chance-weighted }}</p>

