<p>chance-address: {{ chance-address }}</p>
<p>chance-altitude: {{ chance-altitude }}</p>
<p>chance-areacode: {{ chance-areacode }}</p>
<p>chance-city: {{ chance-city }}</p>
<p>chance-coordinates: {{ chance-coordinates }}</p>
<p>chance-country: {{ chance-country }}</p>
<p>chance-depth: {{ chance-depth }}</p>
<p>chance-geohash: {{ chance-geohash }}</p>
<p>chance-latitude: {{ chance-latitude }}</p>
<p>chance-locale: {{ chance-locale }}</p>
<p>chance-longitude: {{ chance-longitude }}</p>
<p>chance-phone: {{ chance-phone }}</p>
<p>chance-postal: {{ chance-postal }}</p>
<p>chance-postcode: {{ chance-postcode }}</p>
<p>chance-province: {{ chance-province }}</p>
<p>chance-state: {{ chance-state }}</p>
<p>chance-street: {{ chance-street }}</p>
<p>chance-zip: {{ chance-zip }}</p>

