{{outlet}}
  <h3>chance-coin:</h3>
  <p>Description for chance-coin goes here.</p>
  <p>
  <code>
  \{{ chance-coin }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-coin }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-coin }}
  </code>
  </p>
  

  <h3>dice:</h3>
  <p>Description for chance-dice goes here.</p>
  <p>
  <code>
  \{{ chance-d4 }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-d4 }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-d4 }}
  </code>
  </p>
  

  <h3>chance-guid:</h3>
  <p>Description for chance-guid goes here.</p>
  <p>
  <code>
  \{{ chance-guid }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-guid }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-guid }}
  </code>
  </p>
  

  <h3>chance-hash:</h3>
  <p>Description for chance-hash goes here.</p>
  <p>
  <code>
  \{{ chance-hash }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-hash }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-hash }}
  </code>
  </p>
  

  

  <h3>chance-n:</h3>
  <p>Description for chance-n goes here.</p>
  <p>
  <code>
  \{{ chance-n }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-n }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-n }}
  </code>
  </p>
  

  <h3>chance-normal:</h3>
  <p>Description for chance-normal goes here.</p>
  <p>
  <code>
  \{{ chance-normal }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-normal }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-normal }}
  </code>
  </p>
  

  <h3>chance-radio:</h3>
  <p>Description for chance-radio goes here.</p>
  <p>
  <code>
  \{{ chance-radio }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-radio }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-radio }}
  </code>
  </p>
  

  <h3>chance-rpg:</h3>
  <p>Description for chance-rpg goes here.</p>
  <p>
  <code>
  \{{ chance-rpg }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-rpg }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-rpg }}
  </code>
  </p>
  

  <h3>chance-tv:</h3>
  <p>Description for chance-tv goes here.</p>
  <p>
  <code>
  \{{ chance-tv }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-tv }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-tv }}
  </code>
  </p>
  

  <h3>chance-unique:</h3>
  <p>Description for chance-unique goes here.</p>
  <p>
  <code>
  \{{ chance-unique }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-unique }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-unique }}
  </code>
  </p>
  

  <h3>chance-weighted:</h3>
  <p>Description for chance-weighted goes here.</p>
  <p>
  <code>
  \{{ chance-weighted }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-weighted }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-weighted }}
  </code>
  </p>
  
