<p>chance-android-id: {{ chance-android-id }}</p>
<p>chance-apple-token: {{ chance-apple-token }}</p>
<p>chance-bb-pin: {{ chance-bb-pin }}</p>
<p>chance-wp7-anid: {{ chance-wp7-anid }}</p>
<p>chance-wp8-anid2: {{ chance-wp8-anid2 }}</p>
