

  <h3>chance-android-id:</h3>
  <p>Description for chance-android-id goes here.</p>
  <p>
  <code>
  \{{ chance-android-id }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-android-id }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-android-id }}
  </code>
  </p>
  

  <h3>chance-apple-token:</h3>
  <p>Description for chance-apple-token goes here.</p>
  <p>
  <code>
  \{{ chance-apple-token }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-apple-token }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-apple-token }}
  </code>
  </p>
  

  <h3>chance-bb-pin:</h3>
  <p>Description for chance-bb-pin goes here.</p>
  <p>
  <code>
  \{{ chance-bb-pin }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-bb-pin }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-bb-pin }}
  </code>
  </p>
  

  <h3>chance-wp7-anid:</h3>
  <p>Description for chance-wp7-anid goes here.</p>
  <p>
  <code>
  \{{ chance-wp7-anid }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-wp7-anid }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-wp7-anid }}
  </code>
  </p>
  

  <h3>chance-wp8-anid2:</h3>
  <p>Description for chance-wp8-anid2 goes here.</p>
  <p>
  <code>
  \{{ chance-wp8-anid2 }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-wp8-anid2 }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-wp8-anid2 }}
  </code>
  </p>
  
