  <h3>chance-age:</h3>
  <p>Description for chance-age goes here.</p>
  <p>
  <code>
  \{{ chance-age }}
  => {{ chance-age }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-age }}
  => {{ chance-age }}
  </code>
  </p>
  

  <h3>chance-birthday:</h3>
  <p>Description for chance-birthday goes here.</p>
  <p>
  <code>
  \{{ chance-birthday }}
  => {{ chance-birthday }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-birthday }}
  => {{ chance-birthday }}
  </code>
  </p>
  

  <h3>chance-cf:</h3>
  <p>Description for chance-cf goes here.</p>
  <p>
  <code>
  \{{ chance-cf }}
  => {{ chance-cf }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-cf }}
  => {{ chance-cf }}
  </code>
  </p>
  

  <h3>chance-cpf:</h3>
  <p>Description for chance-cpf goes here.</p>
  <p>
  <code>
  \{{ chance-cpf }}
  => {{ chance-cpf }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-cpf }}
  => {{ chance-cpf }}
  </code>
  </p>
  

  <h3>chance-first:</h3>
  <p>Description for chance-first goes here.</p>
  <p>
  <code>
  \{{ chance-first }}
  => {{ chance-first }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-first }}
  => {{ chance-first }}
  </code>
  </p>
  

  <h3>chance-gender:</h3>
  <p>Description for chance-gender goes here.</p>
  <p>
  <code>
  \{{ chance-gender }}
  => {{ chance-gender }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-gender }}
  => {{ chance-gender }}
  </code>
  </p>
  

  <h3>chance-last:</h3>
  <p>Description for chance-last goes here.</p>
  <p>
  <code>
  \{{ chance-last }}
  => {{ chance-last }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-last }}
  => {{ chance-last }}
  </code>
  </p>
  

  <h3>chance-name:</h3>
  <p>Description for chance-name goes here.</p>
  <p>
  <code>
  \{{ chance-name }}
  => {{ chance-name }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-name }}
  => {{ chance-name }}
  </code>
  </p>
  

  <h3>chance-prefix:</h3>
  <p>Description for chance-prefix goes here.</p>
  <p>
  <code>
  \{{ chance-prefix }}
  => {{ chance-prefix }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-prefix }}
  => {{ chance-prefix }}
  </code>
  </p>
  

  <h3>chance-ssn:</h3>
  <p>Description for chance-ssn goes here.</p>
  <p>
  <code>
  \{{ chance-ssn }}
  => {{ chance-ssn }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-ssn }}
  => {{ chance-ssn }}
  </code>
  </p>
  

  <h3>chance-suffix:</h3>
  <p>Description for chance-suffix goes here.</p>
  <p>
  <code>
  \{{ chance-suffix }}
  => {{ chance-suffix }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-suffix }}
  => {{ chance-suffix }}
  </code>
  </p>
 
