<p>chance-age: {{ chance-age }}</p>
<p>chance-birthday: {{ chance-birthday }}</p>
<p>chance-cf: {{ chance-cf }}</p>
<p>chance-cpf: {{ chance-cpf }}</p>
<p>chance-first: {{ chance-first }}</p>
<p>chance-gender: {{ chance-gender }}</p>
<p>chance-last: {{ chance-last }}</p>
<p>chance-name: {{ chance-name }}</p>
<p>chance-prefix: {{ chance-prefix }}</p>
<p>chance-ssn: {{ chance-ssn }}</p>
<p>chance-suffix: {{ chance-suffix }}</p>

