<h3>Text</h3>

  <h3>chance-paragraph:</h3>
  <p>Description for chance-paragraph goes here.</p>
  <p>
  <code>
  \{{ chance-paragraph }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-paragraph }}
  </code>
  </p>
  

  <h3>chance-sentence:</h3>
  <p>Description for chance-sentence goes here.</p>
  <p>
  <code>
  \{{ chance-sentence }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-sentence }}
  </code>
  </p>
  

  <h3>chance-syllable:</h3>
  <p>Description for chance-syllable goes here.</p>
  <p>
  <code>
  \{{ chance-syllable }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-syllable }}
  </code>
  </p>
  

  <h3>chance-word:</h3>
  <p>Description for chance-word goes here.</p>
  <p>
  <code>
  \{{ chance-word }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-word }}
  </code>
  </p>
  


