{{outlet}}
  <h3>chance-ampm:</h3>
  <p>Description for chance-ampm goes here.</p>
  <p>
  <code>
  \{{ chance-ampm }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-ampm }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-ampm }}
  </code>
  </p>
  

  <h3>chance-date:</h3>
  <p>Description for chance-date goes here.</p>
  <p>
  <code>
  \{{ chance-date }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-date }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-date }}
  </code>
  </p>
  

  <h3>chance-hammertime:</h3>
  <p>Description for chance-hammertime goes here.</p>
  <p>
  <code>
  \{{ chance-hammertime }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-hammertime }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-hammertime }}
  </code>
  </p>
  

  <h3>chance-hour:</h3>
  <p>Description for chance-hour goes here.</p>
  <p>
  <code>
  \{{ chance-hour }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-hour }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-hour }}
  </code>
  </p>
  

  <h3>chance-millisecond:</h3>
  <p>Description for chance-millisecond goes here.</p>
  <p>
  <code>
  \{{ chance-millisecond }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-millisecond }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-millisecond }}
  </code>
  </p>
  

  <h3>chance-minute:</h3>
  <p>Description for chance-minute goes here.</p>
  <p>
  <code>
  \{{ chance-minute }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-minute }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-minute }}
  </code>
  </p>
  

  <h3>chance-month:</h3>
  <p>Description for chance-month goes here.</p>
  <p>
  <code>
  \{{ chance-month }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-month }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-month }}
  </code>
  </p>
  

  <h3>chance-second:</h3>
  <p>Description for chance-second goes here.</p>
  <p>
  <code>
  \{{ chance-second }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-second }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-second }}
  </code>
  </p>
  

  <h3>chance-timestamp:</h3>
  <p>Description for chance-timestamp goes here.</p>
  <p>
  <code>
  \{{ chance-timestamp }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-timestamp }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-timestamp }}
  </code>
  </p>
  

  <h3>chance-timezone:</h3>
  <p>Description for chance-timezone goes here.</p>
  <p>
  <code>
  \{{ chance-timezone }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-timezone }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-timezone }}
  </code>
  </p>
  

  <h3>chance-weekday:</h3>
  <p>Description for chance-weekday goes here.</p>
  <p>
  <code>
  \{{ chance-weekday }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-weekday }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-weekday }}
  </code>
  </p>
  

  <h3>chance-year:</h3>
  <p>Description for chance-year goes here.</p>
  <p>
  <code>
  \{{ chance-year }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-year }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-year }}
  </code>
  </p>
  
