

  <h3>chance-avatar:</h3>
  <p>Description for chance-avatar goes here.</p>
  <p>
  <code>
  \{{ chance-avatar }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-avatar }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-avatar }}
  </code>
  </p>
  

  <h3>chance-color:</h3>
  <p>Description for chance-color goes here.</p>
  <p>
  <code>
  \{{ chance-color }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-color }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-color }}
  </code>
  </p>
  

  <h3>chance-company:</h3>
  <p>Description for chance-company goes here.</p>
  <p>
  <code>
  \{{ chance-company }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-company }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-company }}
  </code>
  </p>
  

  <h3>chance-domain:</h3>
  <p>Description for chance-domain goes here.</p>
  <p>
  <code>
  \{{ chance-domain }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-domain }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-domain }}
  </code>
  </p>
  

  <h3>chance-email:</h3>
  <p>Description for chance-email goes here.</p>
  <p>
  <code>
  \{{ chance-email }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-email }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-email }}
  </code>
  </p>
  

  <h3>chance-fbid:</h3>
  <p>Description for chance-fbid goes here.</p>
  <p>
  <code>
  \{{ chance-fbid }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-fbid }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-fbid }}
  </code>
  </p>
  

  <h3>chance-google-analytics:</h3>
  <p>Description for chance-google-analytics goes here.</p>
  <p>
  <code>
  \{{ chance-google-analytics }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-google-analytics }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-google-analytics }}
  </code>
  </p>
  

  <h3>chance-hashtag:</h3>
  <p>Description for chance-hashtag goes here.</p>
  <p>
  <code>
  \{{ chance-hashtag }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-hashtag }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-hashtag }}
  </code>
  </p>
  

  <h3>chance-ip:</h3>
  <p>Description for chance-ip goes here.</p>
  <p>
  <code>
  \{{ chance-ip }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-ip }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-ip }}
  </code>
  </p>
  

  <h3>chance-ipv6:</h3>
  <p>Description for chance-ipv6 goes here.</p>
  <p>
  <code>
  \{{ chance-ipv6 }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-ipv6 }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-ipv6 }}
  </code>
  </p>
  

  <h3>chance-klout:</h3>
  <p>Description for chance-klout goes here.</p>
  <p>
  <code>
  \{{ chance-klout }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-klout }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-klout }}
  </code>
  </p>
  

  <h3>chance-profession:</h3>
  <p>Description for chance-profession goes here.</p>
  <p>
  <code>
  \{{ chance-profession }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-profession }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-profession }}
  </code>
  </p>
  

  <h3>chance-tld:</h3>
  <p>Description for chance-tld goes here.</p>
  <p>
  <code>
  \{{ chance-tld }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-tld }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-tld }}
  </code>
  </p>
  

  <h3>chance-twitter:</h3>
  <p>Description for chance-twitter goes here.</p>
  <p>
  <code>
  \{{ chance-twitter }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-twitter }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-twitter }}
  </code>
  </p>
  

  <h3>chance-url:</h3>
  <p>Description for chance-url goes here.</p>
  <p>
  <code>
  \{{ chance-url }}
  </code>
  </p>
  <p>
  <code>
  => {{ chance-url }}
  </code>
  </p>
  <p>With named arguments (options) :</p>
  <p>
  <code>
  \{{ chance-url }}
  </code>
  </p>
  
