<p>chance-avatar: {{ chance-avatar }}</p>
<p>chance-color: {{ chance-color }}</p>
<p>chance-company: {{ chance-company }}</p>
<p>chance-domain: {{ chance-domain }}</p>
<p>chance-email: {{ chance-email }}</p>
<p>chance-fbid: {{ chance-fbid }}</p>
<p>chance-google-analytics: {{ chance-google-analytics }}</p>
<p>chance-hashtag: {{ chance-hashtag }}</p>
<p>chance-ip: {{ chance-ip }}</p>
<p>chance-ipv6: {{ chance-ipv6 }}</p>
<p>chance-klout: {{ chance-klout }}</p>
<p>chance-profession: {{ chance-profession }}</p>
<p>chance-tld: {{ chance-tld }}</p>
<p>chance-twitter: {{ chance-twitter }}</p>
<p>chance-url: {{ chance-url }}</p>

